<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание клиента</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Создание клиента</h1>
    <form action="/submit_client" method="post">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
        <input type="submit" value="Отправить">
    </form>
</body>
</html>
