<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafe Management System</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Добро пожаловать в систему управления кафе</h1>
    <p>Легко управляйте клиентами, продукцией и заказами вашего кафе.</p>
    <ul>
        <li><a href="/create_client">Создать клиента</a></li>
        <li><a href="/create_product">Создать продукт</a></li>
        <li><a href="/create_order">Создать заказ</a></li>
    </ul>
</body>
</html>
